{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
<div style=" width: 30%; margin-left: 33%; padding-top: 180px;">
    <form action="CreateOwn" method="post" enctype="multipart/form-data">
        {% csrf_token %}
 
        <input type="text" id="City" name="city" class="form-control form-control-lg" required/>
        <label class="form-label" for="City" style="font-weight: bold; ">City</label>

        <input type="text" id="Street" name="street" class="form-control form-control-lg" required/>
        <label class="form-label" for="Street" style="font-weight: bold; ">Street</label>

        <div class="form-outline datepicker w-100">
            {{ form.as_p }}
        </div>
        <label class="form-label" style="font-weight: bold; ">Avatar</label>

        <select class="form-select" aria-label="Default select example" name="type" style="font-weight: bold; " required>
            {% for type in types %}
                {% if type != 'All' %}
                    <option value="{{ type }}">{{type}}</option>
                {% endif %}
            {% endfor %}
        </select>

        <div class="form-outline" style="margin-top: 10px;">
            <input type="number" min="1" max="10" name="raiting" class="form-control form-control-lg" step="1" required/>
            <label class="form-label" style="font-weight: bold; ">Raiting</label>
        </div>

        <div class="form-outline" style="margin-top: 10px;">
            <input type="number" min="1000" name="price" class="form-control form-control-lg" step="0.01" required/>
            <label class="form-label" style="font-weight: bold; ">Price</label>
        </div>

        <div class="form-outline" style="margin-top: 10px;">
            <textarea name="about" style="width: 100%;"></textarea>
            <label class="form-label" for="about" style="font-weight: bold; ">About</label>
        </div>

        <button class="btn btn-outline-success" type="submit" >Post Own</button>
    </form>
</div>
{% endblock %}