{% extends 'main/layout.html' %}
{% load static %}

{% block category %}
<div style="display: inline-flex; flex-wrap: wrap; margin-left: 30px; margin-top: 120px; padding: 10px;">
    <h1 style="font-weight: bold; color: rgb(0, 0, 0);">{{currentType}}</h1>
    <button style="background: transparent; outline: none; border: 0; margin-left: 10px;" class="FilterButton" onclick="DropdownMenu()"><img src="https://img.icons8.com/color/48/null/filled-filter.png"/></button>
    <div id="myDropdown" class="dropdown-content" style="margin-top: 50px; margin-left: 80px; border: 2px solid blue; background-color: rgb(120, 106, 155);">
        {% for type in types %}
        <form action="Sort" method="post">
            {% csrf_token %}
            <input type="hidden" name="type" value="{{ type }}">

            {% if type == currentType %}
            <button style="background: green; outline: none; border: 0;">{{type}}</button>
            {% else %}
            <button style=" outline: none; border: 0;">{{type}}</button>
            {% endif %}
        </form>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block content %}

{% if isAdmin or isLogin %}
<div>
    <form action="CreateOwn" method="get">
        {% csrf_token %}
        <button class="Create" style="background: transparent; outline: none; border: 0;">
            <img src="https://img.icons8.com/plasticine/100/null/add--v1.png" width="60" height="60"/>
        </button>
    </form>
</div>
{% endif %}

<div style="display: inline-flex; flex-wrap: wrap;  margin-left: 100px; ">

    {% for own in owns %}
    {% if currentType == 'All' or currentType == own.type %}
    <div style="display: inline-flex; flex-wrap: wrap;   margin-left: 20px; margin-top: 20px;">
        <form action="about" method="get">
            <input type="hidden" name="street" value="{{own.street}}">
            <button style="background: transparent; outline: none; border: 0;"><img class="Own" src="{{ own.img }}" width="830" height="450"></button>
        </form>
        <div style="display: flexbox; flex-wrap: wrap; margin-left: 100px; margin-top: 30px;">
            <h1 style=" padding: 10px; font-weight: bold;">{{own.city}},{{ own.street }}</h1>
            <h2 style=" padding: 10px; width: 400px; ">{{ own.about }}</h2>
            <hr style="height: 10px;">
            <h2 style="padding: 10px;">Broker raiting: {{own.raiting}}</h2>
            <h2 style="padding: 10px; color: rgb(43, 97, 43); font-weight: bold;">${{ own.price }}K</h2>

            {% if isAdmin or isLogin and own.broker == user.login %}
            <form action="RemoveOwn" method="post">
                {% csrf_token %}
                <input type="hidden" name="street"  value="{{ own.street }}">

                <button style="border-radius: 50%; background: transparent; outline: none; border: 0;">
                    <img src="https://img.icons8.com/color/48/null/delete-forever.png" width="80" height="60" >
                </button>
            </form>
            <form action="ChangeOwn" method="get" style="margin-top: -55px;">
                {% csrf_token %}
                <input type="hidden" name="street"  value="{{ own.street }}">

                <button style="border-radius: 50%; background: transparent; outline: none; border: 0; margin-left: 180px; ">
                    <img src="https://img.icons8.com/external-others-inmotus-design/67/null/external-Change-virtual-keyboard-others-inmotus-design.png" width="80" height="60" >
                </button>
            </form>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}

